<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/support/bootstrap.php"
  cacheDirectory="./runtime/.phpunit.cache"
  colors="true"
  executionOrder="depends,defects"
  failOnRisky="true"
  failOnWarning="true"
  stopOnFailure="false"
>
  <extensions>
    <bootstrap class="yii2\extensions\filepond\tests\support\MockerExtension"/>
  </extensions>

  <testsuites>
    <testsuite name="Yii2Extensions-FilePond">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
